@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", "system-ui",
    "Roboto";
  line-height: 1;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 15px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  font-weight: 500;
}
